name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  DOTNET_VERSION: "8.0.x"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        testProject:
          - tests/DddCqrs.Application.UnitTests/DddCqrs.Application.UnitTests.csproj
          - tests/DddCqrs.Domain.UnitTests/DddCqrs.Domain.UnitTests.csproj
          - tests/DddCqrs.Architecture.UnitTests/DddCqrs.Architecture.UnitTests.csproj

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore ./DddCqrs.sln

      - name: Build
        run: dotnet build ./DddCqrs.sln --configuration Release --no-restore

      - name: Run tests
        run: dotnet test ${{ matrix.testProject }} --configuration Release --no-restore --no-build
